<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABBOON</title>
</head>
<body style="background-color: grey;color: white;">
    <div style="border: 2px;border-style: solid;border-color: black;padding-left: 15px;padding-bottom: 15px;width:60%;">
        <h1>BABOONS</h1>
<p>A baboon is a highly social primate found mainly in Africa, known for its dog-like muzzle and powerful build.
They live in troops and are extremely intelligent, using complex communication and strong group bonds for survival.
</p>
</p>
<img src="bab1.webp" alt="" height="200px" width="200px">
<img src="bab2.webp " alt="" height="200px" width="200px">
<img src="bab3.webp" alt="" height="200px" width="200px">
<br>
<div style="margin-top: 1%;">
    <b>AGE:2</b>
<br>
<b>PLACE OF ORIGIN:JHARKAND</b>
<br>
<b>FOOD:FRUIT</b>
</div>
<div style="margin-top: 4%;padding-left: 40%;">
 <b>DONATED BY:INFOSYS</b>
 <br>
<b>CARETAKER:GHARUT</b>
</div>
    </div>
</body>
</html>