<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZOO</title>
</head>
<body style="background-color: grey;">
    <center><h1>THE GREAT MYSORE ZOO OF MYSORE</h1></center>
    <center><img src="mysore_zoo1.webp" style="border-radius: 2px; border-color: black;border-style: solid;"></center>
    <br>
    <h3>LIST OF ANIMALS IN OUR ZOO:</h3>
    <ol>
        <a href="/tiger"><li>TIGER</li></a>
        <a href="/lion"><li>LION</li></a>
        <a href="/jaguar"><li>JAGUAR</li></a>
        <a href="/swan"><li>SWAN</li></a>
        <a href="/gorilla"><li>GORILLA</li></a>
       
    </ol>
    <p>CLICK ON THEM FOR MORE INFO</p>
</body>
</html>