<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LION</title>
</head>
<body style="background-color: grey;color: white;">
    <div style="border: 2px;border-style: solid;border-color: black;padding-left: 15px;padding-bottom: 15px;width:60%;">
        <h1>{{title}}</h1>
        <p>A lion is a powerful carnivorous cat, known as the “king of the jungle,” with a muscular build and impressive mane in males.
They live in social groups called prides and are skilled hunters, mainly active during the night.
</p>
<img src="{{image}}" alt="" height="200px" width="200px">
<br>
<div style="margin-top: 1%;">
    <b>AGE:{{age}}</b>
<br>
<b>PLACE OF ORIGIN:BENGAL</b>
<br>
<b>FOOD:{{food}}</b>
</div>
<div style="margin-top: 4%;padding-left: 40%;">
 <b>DONATED BY:{{donate_by}}</b>
 <br>
<b>CARETAKER:GHARUT</b>
</div>
    </div>
</body>
</html>