<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORCUPINE</title>
</head>
<body style="background-color: grey;color: white;">
    <div style="border: 2px;border-style: solid;border-color: black;padding-left: 15px;padding-bottom: 15px;width:60%;">
        <h1>PORCUPINE</h1>
<p>A porcupine is a rodent covered with sharp quills that it uses as a defense against predators.
It is mostly nocturnal, slow-moving, and feeds on plants, bark, and fruits.
</p>
</p>
<img src="por1.webp" alt="" height="200px" width="200px">
<img src="por2.webp" alt="" height="200px" width="200px">
<img src="por3.webp" alt="" height="200px" width="200px">
<br>
<div style="margin-top: 1%;">
    <b>AGE:12</b>
<br>
<b>PLACE OF ORIGIN:BENGAL</b>
<br>
<b>FOOD:MEAT</b>
</div>
<div style="margin-top: 4%;padding-left: 40%;">
 <b>DONATED BY:INFOSYS</b>
 <br>
<b>CARETAKER:GHARUT</b>
</div>
    </div>
</body>
</html>